.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 1100px;
    height: 100%;
}

.sections {
    color: whitesmoke;
}

.flexSections {
    font-size: larger;
    display: flex;
    justify-content: space-between;
    width: 1100px;
    padding: 1rem;
    border: 1px solid whitesmoke;
    margin: 1rem;
}

.flexSections a {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    font-weight: 1px;
}

.flexSections a:hover {
    text-decoration: underline;
    cursor: grab;
}