.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: whitesmoke;
    padding: 1rem;
}

.navList {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

.navList a {
    font-family: 'Courier New', Courier, monospace;
    padding: 7px;
    margin: 1rem;
    text-decoration: none;
    color: whitesmoke;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.navList a:hover, .navList a.active {
    color:  #ff351b;
    transform: scale(1.1);
}

.navList #sign-up-btn:hover, .navList #sign-up-btn.active{
    color: #ff351b;
    transform: scale(1.1);
    border-color: #ff351b;
}

#sign-up-btn {
    border-radius: 1rem;
    border: 1px solid whitesmoke;
    padding: 5px;
}

#logo-text {
    font-weight: lighter;
    font-size: 1.5rem;
    padding-left: 3rem;
}

#logo-special-text {
    display: inline;
    color: #ff351b;
    align-content: center;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}