* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input {
    border-radius: 3px;
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
    width: 100%;
    font-size: large;
}

.container {
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 38px 3px grey;
    height: 550px;
    width: 1100px;
    margin: 2rem;
    padding: 1rem;
    background-image: url('../../assets/naruto-sliding-bg.png');
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.box {
    display: flex;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8rem;
    width: 550px;
}

.text-with-bg {
    color: whitesmoke !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.text-no-bg {
    color: whitesmoke !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
}

#header {
    font-size: 30px;
    margin: 1rem;
}

#content-text {
    font-family: 'Courier New', Courier, monospace;
}

.introText {
    margin: 1rem;
}

.sliding-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #CE7E15;
    transition: transform 1s ease-in-out, background-color 1s ease-in-out;
}

.slide-right {
    transform: translateX(100%);
    background-color: #691F9E;
}